{# templates/front/badges.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<h1>Mes Badges</h1>
<ul>
    {% for badge in badges %}
        <li>{{ badge.name }}</li>
    {% else %}
        <li>Aucun badge pour l'instant</li>
    {% endfor %}
</ul>
{% endblock %}
